{% extends "AStudioBookingBundle::layout.html.twig" %}

{% block order_body %}
    <div class="page-header">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{{ asset('img/confirm.jpg') }}');">
            </div>
            <div class="container">
                <div class="content-center brand">
                    <h1 class="h1-seo"><i class="fa fa-check" aria-hidden="true" style="color:green;"></i> Confirmation de la réservation</h1>
                    <h3>La commande a bien été enregistrée !<br />
                        Vous allez recevoir un email de confirmation d'ici quelques minutes.</h3>
                </div>
    </div>
	<p></p>
{% endblock %}