{% extends "AStudioCoreBundle::layout.html.twig" %}

{% block title %} Accueil - {{parent()}} {% endblock %}

{% block body %}
    <div class="page-header">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{{ asset('img/header.jpg') }}');">
            </div>
        </div>
{% endblock %}