{% extends "AStudioCoreBundle::layout.html.twig" %}

{% block title %}
    Réservation - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Réservation</h1>
    <hr>
    
    	{% block order_body %} {# Bloc de la commande #}
    	{% endblock %}
    
{% endblock %}

